.header-container{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 90px;
    
    
}

.left-side{
    color: white;
    font-size: 18px;
    display: flex;
    justify-content: center;
     align-items: center;
     margin-left: 150px;
     margin-right: 300px;
    

}

.Company{
    color: rgb(251, 255, 0);
    margin-left: 10px;
}

.rigth-side{
   
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
    max-width: 500px;
    padding-right: 20px;
    padding-left:20px ;
}

.rigth-side div{
    color: white;
    font-size: 18px;
    font-weight: 500;
}

.home,
.About-us,
.Service,
.Contact{
 position: relative;
 cursor: pointer;

}

.line{
    position: absolute;
    bottom: -20px;
}

hr{
    width: 48px;
    background-color: rgb(251, 255, 0);
    height: 2px;
    border: none;
    opacity: 0;
    transition: opacity 0.30s;
   
}

.home:hover hr,
.About-us:hover hr,
.Service:hover hr,
.Contact:hover hr{
    opacity: 1;
}

.About-us hr{
    width: 72px;
}

.Service hr{
    width: 60px;
}

.Contact hr{
    width: 65px;
}

.home{
   
    margin-right: 20px;
}

.About-us{
    
    white-space: nowrap;
    margin-right: 20px;
}

.Service{
  
    margin-right: 20px;
}

.Contact{
    
}

